{% extends "base.html" %}
{% block title %}login{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='loan_application.css')}}">
{% endblock %}
{% block body %}
<h1 id="description">Please fill in the form provided below then make sure to read the financial literacy after submission which helps you to borrow wisely</h1></li> 
<div class="container">
    <form action="" method="post">
      <ul>
        {{form.hidden_tag()}}
     <h1 id="header"><u>loan form</u></h1>
     <li><h2>first name
     {{form.first_name()}}
     middle name
     {{form.middle_name()}}
     sir name
     {{form.sir_name()}}</h2></li>
     <li><h2>enter your identification number/passport number
     {{form.id_no()}}</h2></li>
     <li><h2>enter your monthly income
      {{form.income()}}</h2></li>
     <li><h2>enter your county of birth
     {{form.county()}}
     enter sub-county
     {{form.sub_county()}}</h2></li>
     <li><h2>enter location
     {{form.location()}}
     enter sub-location
     {{form.sub_location()}}</h2></li>
     <li><h2>date of birth
      {{form.date()}}
      choose your gender
      {{form.gender()}}</h2></li>
      <li><h2>upload your identification card
      {{form.upload_id()}}</h2></li>
      <li><h2>choose loan type
      {{form.loan_type()}}
      choose your level of bussiness
      {{form.bussiness_type()}}</h2></li>
      <h2>{{form.submit()}}</h2>
      </ul>
    </form>
 </div>
{% endblock %}
